* {
margin:0px;
padding:0px;
font-family:Arial,Verdena,Georgia;
}

body {
	background-image:url("skyscraperbackground1.jpg"); 
/* https://wallpaperscraft.com/download/dubai_uae_buildings_skyscrapers_night_96720/1920x1080 */
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

header {
	background-color:#00004d;
	margin-bottom:2%;
}

header h1 {
	color:white;
	font-size:600%;
	margin-left:10%
}


nav {
	border:1px solid #00004d;
	background-color:#adad85;
	float:left;
	width:30%;
	margin:0 8% 0 4%;
}

nav ul {
	list-style-type:none; 	
}

nav li {
	border-top:1px solid #00004d;
	color:#00004d;
}

nav li a {margin:1%;}


/* Home Nav */
nav ul li:first-child {background-color:#00004d; height:5%;}
nav ul li:first-child a:link {color:white; font-size:40px;}
nav ul li:first-child a:hover {background-color:red;}
nav ul li:first-child a:visited {color:white;}

/* Other Nav */
nav li a:link {text-decoration:none; color:#00004d; font-size:25px;}
nav li a:hover {text-decoration:underline; background-color:yellow;}
nav li a:visited {color:#00004d;}
nav ul li:nth-child(even) {background-color:#d6d6c2;}


article {
	display:block;
	border:2px solid #00004d;
	background-color:#d6d6c2;
	float:left;
	width:50%;
	height:auto;
	margin-rigth:8%;
	margin-bottom:4%;
}
article h1 {
	border:1px solid #00004d;
	background-color:#00004d;
	color:white;
	font-size:300%;
	padding-left:10%;
}
article p {
	text-indent:50px;
	color:#00004d;
	font-size:95%;
	margin-top:2%;
}

article div {
	width:40%;
	padding:2%;
}
article div cite {margin-top:10px;}
article img {width:55%; height:700px; float:right;}

#set {
	display:block;
	clear:both;
	width:40%;
	margin:0 30%;
}

.tower {
	display:block;
	width:100%;
	background-color:#d6d6c2;
	margin-bottom:10px;
}

.tower img {
	width:100%;
}

.tower p {
	color:#00004d;
	font-size:18px;
}


footer {
	border:1px solid black;
	background-color:#d6d6c2;
	clear:both;
	width:80%;
	margin:3% 10% 3% 10%;
}

footer div {
	color:#00004d;
	font-size:150%;
	text-align:center;
}

footer div a:link {text-decoration:none; color:#00004d; font-size:125%;}
footer div a:hover {text-decoration:underline; background-color:yellow;} 
footer div a:visited {color:#00004d;}

#pic img {
	display:none;
}